# Arquivos de variáveis e credenciais sensíveis
.env
infra/.env
**/.env

# Dados locais e volumes compartilhados
/data/
data/
data/*

# Banco de dados PostgreSQL (volume docker)
postgres_data/

# Arquivos gerados pelo terraform
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
*.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup

# Diretórios internos do terraform
.terraform/
infra/.terraform/
**/.terraform/
terraform.tfvars

# Artefatos e cache do python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
venv/
pip-wheel-metadata/

# Arquivos de cache e logs do meltano
.meltano/
.meltano/**

# Cache do dbt e pacotes
dbt_packages/
target/
manifest.json
run_results.json
*.db
*.user.yml

# Logs do airflow (se não forem versionados)
logs/
orchestrate-airflow/logs/

# Arquivos de configuração e cache de docker
**/Dockerfile~
docker-compose.override.yml
*.bak
*.swp
*.tmp
*.old

# Arquivos auto-gerados de documentação ou imagens
docs/*.jpg
docs/*.png
docs/*.pdf

# Arquivos do databricks cli
.dbcli/
.databricks/

# Dependências frontend e editores
node_modules/
.vscode/
.idea/
*.code-workspace
*.sublime*

# Arquivos compactados e temporários
*.zip
*.tar.gz
*.tar
*.gz
*.tmp
*.temp
*.bak
*.out