# Arquivos sensíveis
.env
infra/.env
**/.env

# Volumes de dados compartilhados
/data/
data/
data/*

# Banco de dados PostgreSQL (volume)
postgres_data/

# Arquivos criados pelo Terraform
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
*.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup

# Diretórios temporários do Terraform
.terraform/
infra/.terraform/
**/.terraform/
terraform.tfvars

# Artefatos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Builds e cache do Docker
**/Dockerfile~
docker-compose.override.yml
*.bak
*.swp
*.tmp
*.old

# Documentação ou arquivos auto-gerados
docs/*.jpg
docs/*.png
docs/*.pdf

# Relatórios ou arquivos de saída do Databricks CLI
.dbcli/
.databricks/

# Logs do Airflow (se forem montados)
logs/
orchestrate-airflow/logs/

# Cache de ferramentas Python ou Meltano
.meltano/
pip-wheel-metadata/
venv/
*.db

# Arquivos temporários de scripts
*.tmp
*.temp
*.log
*.bak
*.out

# Node/npm (caso adicione UI depois)
node_modules/

# IDEs
.vscode/
.idea/
*.code-workspace
*.sublime*

# Arquivos compactados
*.zip
*.tar.gz
*.tar
*.gz