# Bytecode e artefatos
__pycache__/
*.py[cod]
*.class
*.jar

# IDEs e editores
.vscode/
.idea/
*.swp

# Ambientes e builds
.env
*.log
*.bak
*.tmp

# Docker
dbdata/
**/config/jobs/
**/data/
**/tmp/

# Airflow ou outros orchestrators (se incluir depois)
airflow/logs/

# Ignora metadados gerados pelo setuptools
tap_northwindcsv.egg-info/
.meltano
.egg-info/*/tap_northwindcsv.egg-info/
