databricks_host       = "https://dbc-<workspace-id>.cloud.databricks.com"
databricks_token      = "REPLACE_ME"
catalog_name          = "northwind"
schema_name           = "bronze"
volume_name           = "source"
databricks_email      = "seunome.data@email.com"
notebook_path         = "/Users/seunome.data@email.com/nome_do_notebook"
owner                 = "seunome"
databricks_cluster_id = "0101010101010101"